version: '3'
services:
    pgsql:
        container_name: testtask-postgres
        build: ./docker/containers/postgres
        ports:
            - '${FORWARD_DB_PORT:-5433}:5432'
        environment:
            PGPASSWORD: '${DB_PASSWORD:-secret}'
            POSTGRES_DB: '${DB_DATABASE}'
            POSTGRES_USER: '${DB_USERNAME}'
            POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
        volumes:
            - './vendor/laravel/sail/database/pgsql/create-testing-database.sql:/docker-entrypoint-initdb.d/10-create-testing-database.sql'
            - './docker/containers/postgres/data:/var/lib/postgresql/data'
            - './docker/containers/postgres/dumps:/dumps'
        networks:
            - testtask
        healthcheck:
            test:
                - CMD
                - pg_isready
                - '-q'
                - '-d'
                - '${DB_DATABASE}'
                - '-U'
                - '${DB_USERNAME}'
            retries: 3
            timeout: 5s

    pgsql_phpunit:
        container_name: testtask-postgres-phpunit
        build: ./docker/containers/postgres
        ports:
            - '${FORWARD_DB_PORT:-5434}:5432'
        environment:
            PGPASSWORD: '${DB_PASSWORD:-secret}'
            POSTGRES_DB: '${DB_DATABASE}'
            POSTGRES_USER: '${DB_USERNAME}'
            POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
        volumes:
            - './docker/containers/phpunit-postgres/data_phpunit:/var/lib/postgresql/data'
            - './docker/containers/phpunit-postgres/dumps:/dumps'
        networks:
            - testtask
        healthcheck:
            test:
                - CMD
                - pg_isready
                - '-q'
                - '-d'
                - '${DB_DATABASE}'
                - '-U'
                - '${DB_USERNAME}'
            retries: 3
            timeout: 5s

    web:
        container_name: testtask-web
        build: ./docker/containers/nginx
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./:/project
            - ./docker/containers/nginx/config/site.conf:/etc/nginx/conf.d/default.conf
            - ./docker/containers/nginx/logs:/etc/logs/nginx
        networks:
            - testtask

    php:
        container_name: testtask-php
        build: ./docker/containers/php
#        ports:
#            - "8000:8000"
        volumes:
            - ./:/project
            - ./docker/containers/php/config/php.ini:/usr/local/etc/php/conf.d/php.ini
        networks:
            - testtask

    composer:
        container_name: testtask-composer
        build: ./docker/containers/composer
#        command: install --ignore-platform-reqs
#         command: update --ignore-platform-reqs
#        command: tail -f /etc/hosts
#        command: cat composer.json
#        command: composer require --dev "squizlabs/php_codesniffer=*" --ignore-platform-reqs
        command: composer install
        volumes:
            - ./:/app
        networks:
            - testtask

    composer-install:
        build: ./docker/containers/composer
        command: install --ignore-platform-reqs
        volumes:
            - ./:/app
        networks:
            - testtask

    npm:
        container_name: testtask-npm
        build: ./docker/containers/npm
        working_dir: /app
        command: sh -c "npm i && npm run dev -- --host"
#        command: npm i
#        command: sh -c "npm i && tail -f /etc/hosts"
#        command: npm install redis --save
#        command: npm install node-uuid --save
#        command: npm i @vitejs/plugin-react-refresh --force
#        command: npm install babel-preset-react --save
        ports:
           - "5173:5173"
        volumes:
            - ./:/app
            - ./docker/containers/npm/logs:/root/.npm/_logs/
        networks:
            - testtask

networks:
    testtask:
        driver: bridge
volumes:
    testtask-pgsql:
        driver: local
